# Weather forecasting

In [36]:
import numpy as np
import pandas as pd

In [37]:
df=pd.read_csv('weather_data.csv')

In [38]:
df.head()

   YEAR    JUN    JUL    AUG    SEP
0  1901  111.0  243.2  273.6  124.6
1  1902  109.0  282.8  201.8  201.0
2  1903  117.0  292.0  271.7  200.9
3  1904  165.2  263.1  205.2  131.7
4  1905   92.3  254.9  201.4  180.0

In [39]:
df.shape

(119, 5)

In [40]:
df.iloc[: ,1:4]

       JUN    JUL    AUG
0    111.0  243.2  273.6
1    109.0  282.8  201.8
2    117.0  292.0  271.7
3    165.2  263.1  205.2
4     92.3  254.9  201.4
..     ...    ...    ...
114  188.9  240.7  204.1
115  147.0  308.4  239.4
116  171.9  290.5  228.3
117  155.7  273.8  240.5
118  112.9  296.7  299.3

[119 rows x 3 columns]

In [41]:
X=df.iloc[:,1:4]

In [42]:
 df.iloc[: , -1:]

       SEP
0    124.6
1    201.0
2    200.9
3    131.7
4    180.0
..     ...
114  131.7
115  168.8
116  153.0
117  132.3
118  260.4

[119 rows x 1 columns]

In [43]:
y=df.iloc[: , -1:]

In [44]:
y.shape

(119, 1)

# Split dataset

In [45]:
from sklearn.model_selection import train_test_split

In [46]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.18, random_state=10)

In [47]:
X_train.shape

(97, 3)

In [48]:
X_test.shape

(22, 3)

# Algorithm

In [49]:
from sklearn.linear_model import LinearRegression

In [50]:
reg=LinearRegression()

In [51]:
reg.fit(X_train, y_train)

LinearRegression()

In [52]:
m=reg.coef_

In [53]:
m

array([[-0.05779971,  0.336411  ,  0.43149497]])

In [54]:
b=reg.intercept_

In [55]:
b

array([-27.17983767])

In [56]:
pred = reg.predict(X_test)

In [57]:
lst= pred.tolist()

In [58]:
lst

[[195.44375751678064],
 [180.75858505109832],
 [185.27796481331825],
 [162.89446099067428],
 [148.02597135434692],
 [203.97969176276843],
 [170.73949623462318],
 [182.90828096438977],
 [175.1271451745628],
 [181.5267908454426],
 [163.23329366482062],
 [200.9515275254538],
 [165.55755618749245],
 [209.16777945276868],
 [173.78805332373395],
 [148.73270871548473],
 [109.76867809177611],
 [160.7276092007735],
 [201.33316158774855],
 [192.00196022750222],
 [197.1908489711251],
 [162.40849358749625]]

In [59]:
df = pd.DataFrame(lst)
df

             0
0   195.443758
1   180.758585
2   185.277965
3   162.894461
4   148.025971
5   203.979692
6   170.739496
7   182.908281
8   175.127145
9   181.526791
10  163.233294
11  200.951528
12  165.557556
13  209.167779
14  173.788053
15  148.732709
16  109.768678
17  160.727609
18  201.333162
19  192.001960
20  197.190849
21  162.408494

In [60]:
# m1=-0.04232631, m2= 0.33222806,  m3=0.41709891
#b=-25.81945628

In [61]:
#check prediction manually

In [62]:
# for year 1901 , x1=111, x2= 243.2 x3=273.6

In [63]:
#Multiple linear regression eqn :- Y=m1X1 + m2X2 +m3X3 +b

In [64]:
#Y=(-0.04232631*111)+ (0.33222806 *243.2) +( 0.41709891*273.6) + 25.81945628

In [65]:
#print("our score:", Y)

# check accuracy of aur model

In [66]:
from sklearn.metrics import mean_squared_error

In [67]:
y_test

       SEP
45   144.7
95   148.8
56   132.2
84   152.5
98   188.8
41   182.0
80   186.8
109  198.4
48   226.5
2    200.9
53   246.9
52   178.0
111  199.4
43   156.9
79   146.1
1    201.0
10   183.4
35   195.0
47   178.3
26   172.4
68   175.9
81   126.2

In [68]:
from sklearn.metrics import r2_score

In [69]:
z=r2_score(y_test, pred)

In [70]:
print("Accuracy score:",z*z*100)

Accuracy score: 94.30195734090235

Accuracy score: 94.30195734090235